<%-include('partials/header') %>
<%-include('partials/navbarlogin') %>
<%-include('partials/navbarlogo') %>
<%-include('partials/navbarmenu') %>


<div class="container">
    <img src="/images/MARCA_EVOLUIR_BLUE-MENU.webp" alt="">
    <div class="row">

        <div class="col text-center">
            <h3>Ops. Página não encontrada</h3>
        </div>
        
    </div>
</div>



<%- include('partials/footer') %>