<%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/content.ejs') %>

      <div class="row">
        <div class="col">
          <div class="card mt-2">
            <div class="card-header">
                Gerenciamento de impressora
            </div>
            <div class="card-body">
                <form action="/admin/printers/save" method="POST" class="form">

                    <div class="row ml-3">
                        <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" <%= !printer.id?'checked':printer.ativo?'checked':'' %>  name="ativo"
                                id="ativo">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Ativo
                            </label>
                        </div>
                    </div>

                    <div class="row" style="float: left;">
                        <div class="col">
                            <img src="<%= printer.imagem?printer.imagem:'/images/imagem_default.jpg'%>" width="250"
                                height="250" id="imgLocal" alt="">
                            <input type="file" readonly name="arquivo" class="form-control form-control-sm" id="arquivo"
                                onchange="lerArquivo(event)">
                            <input type="hidden" name="imagem" value="<%= printer.imagem %>" id="imagem">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="marca">Marca</label>
                            <input type="text" value="<%= printer.marca %>" name="marca" id="marca"
                                class="form-control form-control-sm">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="modelo">Modelo</label>
                            <input type="text" value="<%= printer.modelo %>" name="modelo" id="modelo"
                                class="form-control form-control-sm">
                        </div>
                    </div>
                    <hr>
                   
                    <div class=" mt-3" style=" float: right;">
                        <a href="/admin/printers" class="btn btn-outline-primary">Cancelar</a>
                        <input type="hidden" name="id" id="id" value="<%= printer.id %>">
                        <input type="submit" class="btn btn-primary" value="Salvar">
                    </div>
            </div>
            </form>
        </div>
        </div>
      </div>


      <%- include('../partials/footer.ejs') %>