<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
        <%- include('../partials/content.ejs') %>


            <div class="row">
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-header">
                            <h5 class="card-title">Cliente -><%= clt.nome %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/client/save">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="nome">Nome Completo/Razão Social</label>
                                        <input type="text" value="<%=clt.nome %>" class="form-control form-control-sm"
                                            name="nome" id="nome">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" value="<%=clt.email %>" name="email" required
                                            class="form-control form-control-sm" id="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Senha</label>
                                        <% if(clt.id>0){%>
                                            <input type="password" readonly value="-------" name="password"
                                                placeholder="*******" class="form-control form-control-sm"
                                                id="password">
                                            <%}else{%>
                                                <input type="password" value="<%= clt.password %>" name="password"
                                                    placeholder="*******" class="form-control form-control-sm"
                                                    id="password">
                                                <%} %>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="cnpjCpf">Cpf/Cnpj</label>
                                        <input type="number" value="<%=clt.cnpjCpf %>"
                                            class="form-control form-control-sm" name="cnpjCpf" id="cnpjCpf">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="tel">Tel</label>
                                        <input type="tel" value="<%=clt.tel %>" pattern="[0-9]{2} [0-9]{4}-[0-9]{4}"
                                            placeholder="00 0000-0000" required="Verifique o formato digitado"
                                            class="form-control form-control-sm" name="tel" id="tel">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="cel1">Cel 1</label>
                                        <input type="tel" value="<%=clt.cel1 %>" pattern="[0-9]{2} [0-9]{5}-[0-9]{4}"
                                            placeholder="00 90000-0000" required="Verifique o formato digitado"
                                            class="form-control form-control-sm" name="cel1" id="cel1">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="cel2">Cel 2</label>
                                        <input type="tel" value="<%=clt.cel2 %>" pattern="[0-9]{2} [0-9]{5}-[0-9]{4}"
                                            placeholder="00 90000-0000" required="Verifique o formato digitado"
                                            class="form-control form-control-sm" name="cel2" id="cel2">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">

                                    <div class="form-group col-md-3">
                                        <label for="rua">Cep</label>
                                        <div class="input-group  ">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary btn-sm" type="button"
                                                    id="btnCep">Buscar
                                                    Cep</button>
                                            </div>
                                            <input type="number" value="<%=clt.cep %>" name="cep" id="cep"
                                                class="form-control form-control-sm" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="rua">Cidade</label>
                                        <input type="text" value="<%=clt.cidade %>" readonly required
                                            class="form-control form-control-sm" name="cidade" id="cidade">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="rua">Uf</label>
                                        <input type="text" value="<%=clt.uf %>" readonly required
                                            class="form-control form-control-sm" name="uf" id="uf">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="rua">Rua</label>
                                        <input type="text" value="<%=clt.rua %>" required
                                            class="form-control form-control-sm" value="asdfasd" name="rua" id="rua">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="bairro">Bairro</label>
                                        <input type="text" value="<%=clt.bairro %>" required
                                            class="form-control form-control-sm" name="bairro" id="bairro">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="numero">Nº</label>
                                        <input type="text" value="<%=clt.numero %>" required
                                            class="form-control form-control-sm" name="numero" id="numero">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="complemento">Complemento</label>
                                        <input type="text" value="<%=clt.complemento %>"
                                            class="form-control form-control-sm" name="complemento" id="complemento">
                                    </div>
                                    <input type="hidden" name="id" value="<%=clt.id %>">
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary"
                                            style="float: right;">Salvar</button>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>

            <%- include('../partials/footer.ejs') %>